<div class="review">
	<h1>{{reviewer}}</h1>
	<a href="/profile/{{reviewer}}"><img src="{{avatar}}" alt="avatar" class="avatar"></a>
	<div class="star3">
		<i class="material-icons" style="font-size: 55px;">star</i>
	</div>
	<h2>{{stars}} stars</h2>
	<p id="reviewdesc">{{desc}}</p>
	<a href="/editreview/{{_id}}"><button type="button" class="button">Edit</button></a>
	<a href="/delete/review/{{_id}}"><button type="button" class="button">Delete</button></a>
</div>